header {
    height: 80px;
}

img {
    width: 100%;
    display: block;
}

.img-header {
    width: 20%;
}

#f-a-q {
    margin-top: 3rem;
}

#table-main{
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
}